body {
    background: linear-gradient(to right, orange, yellow);
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

address {
    text-align: center;
}